[submodule ".registry"]
	path = .registry
	url = https://github.com/vlucet/vlucet.r-universe.dev
	branch = HEAD
[submodule "rgovcan"]
	path = rgovcan
	url = https://github.com/VLucet/rgovcan
[submodule "rgrassdoc"]
	path = rgrassdoc
	url = https://github.com/VLucet/rgrassdoc
